.viv-dashboard .logo {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
	user-select: none;
	cursor: pointer;
}


.dashboard-content {
	padding: 50px 20px 20px 30px;
	max-height: calc(100vh - 20px);
}

.viv-sider {
	user-select: none;
}

.viv-sider span {
	user-select: none;
}

.viv-dashboard .ant-layout-sider-zero-width-trigger-left {
	top: 0px !important;
	background: #0b53b0 !important;
}

.viv-dashboard .ant-menu-item-selected {
	color: white;
}