.notFoundPage {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.notFoundPage > h1 {
	display: block;
	font-size: 10vw;
}